<% if user_signed_in? == false%>
  <head>
    <meta http-equiv="refresh" content="0; URL=/users/sign_in">
  </head>
<% else%>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="card shadow-sm">
          <div class="card-body d-flex">

            <div class="photo-card me-4">
              <% @game.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill, class: "img-fluid" %>
              <% end %>
            </div>
            <div class="details">
              <h1 class="card-title text-primary font-weight-bold mb-3"><%= @game.name.capitalize %></h1>
              <p><strong>Location:</strong> <%= @game.location %></p>
              <p><strong>Price:</strong> <%= @game.price %>€</p>
              <%= link_to 'Annuler', game_path(@game), class: 'btn btn-secondary btn-sm mt-3' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm border-0">
          <div class="card-header bg-primary text-white text-center">
            <h3 class="mb-0">Book your game</h3>
          </div>
          <div class="card-body">
            <%= simple_form_for [@game, @booking] do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :start_date,
                                as: :string,
                                input_html: { data: { controller: "datepicker" } } %>
                  <%#= f.input :start_date, label: "start date", input_html: { class: 'form-control', rows: 4 }, as: :date, html5: true %>
                </div>
                <div class="col-md-6">
                  <%= f.input :end_date,
                                as: :string,
                                input_html: { data: { controller: "datepicker" } } %>
                  <%#= f.input :end_date, label: 'End date', input_html: { class: 'form-control' }, as: :date, html5: true %>
                </div>
              </div>
              <div class="text-center mt-4">
                <%= f.submit 'Réserver mon jeu', id: 'bright', class: 'btn btn-primary btn-lg px-4' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
