<div class="container">
  <div class="text-white">
    <h1><%= current_user.first_name %></h1>
    <h2>Dashboard</h2>
  </div>
  <div>
    <div class="text-white"><h3>All my games</h3></div>
    <% @games.each do |game| %>
      <div class="card-product">
          <% game.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill, class: "img-fluid" %>
          <% end %>
        <div class="card-product-infos">
          <h2><%= game.name %></h2>
          <p><%= game.description %></p>
          <div class="bookingtable">
            <div class="bookingheader">
              <div class="bookingheadercells"><h2>Booking id</h2></div>
              <div class="bookingheadercells"><h2>Start date</h2></div>
              <div class="bookingheadercells"><h2>End date</h2></div>
              <div class="bookingheadercells"><h2>User</h2></div>
              <div class="bookingheadercells"><h2>Status</h2></div>
            </div>
            <% game.bookings.each do |booking| %>
              <div class="bookinglines">
                <div class="bookinglinescells"><p><%= booking.user.first_name %></p></div>
                <div class="bookinglinescells"><p><%= booking.start_date %></p></div>
                <div class="bookinglinescells"><p><%= booking.end_date %></p></div>
                <div class="bookinglinescells"><p>status</p></div>
                <div class="bookinglinescells" id="lastcell"><p>accept/reject</p></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
