<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex align-items-center">

  <a class="navbar-brand position-fixed top-0">
    <%= link_to cl_image_tag("meyshhjdvhde5mxnoc9y", width: 80, height: 80, crop: :fill), root_path %>
  </a>


    <div>
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search your game!"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-secondary" %>
      <% end %>
    </div>




    <div>
      <%= link_to new_game_path, style: "text-decoration:none;", :action => 'go' do %>
        <p id="add-game">Add a new game</p>
      <% end %>
    </div>

    <!-- Menu and Buttons -->
    <div class="d-flex align-items-center">
      <!-- Dropdown Menu -->
      <div class="dropdown me-3">
        <a class="nav-link dropdown-toggle text-light fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
          <li><a class="dropdown-item" href="#">Find game</a></li>
          <li>
            <%= link_to new_game_path, style: "text-decoration:none;", :action => 'go' do %>
            <p class="dropdown-item">Create a game</p>
            <% end %>
          </li>
          <li><a class="dropdown-item" href="#">Book game</a></li>
          <li><a class="dropdown-item" href="#">See all games</a></li>
        </ul>
      </div>
      <!-- Sign-up and Log-in Buttons -->
      <% if current_user %>
        <button class="btn btn-light">
          <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </button>
        <% else %>
        <button class="btn btn-light me-2">
        <%= link_to "Sign Up", new_user_registration_path %>
      </button>
      <button class="btn btn-light">
        <%= link_to "Log In", new_user_session_path %>
      </button>
      <% end %>
    </div>
  </div>
</nav>
