<%# <div class="container mt-6 d-flex"  style="height:50vh;"> %>
<%# <div class="camembert col-9"> camembert</div> %>
<div class="homebox position-relative" style="height: 47vh;">
  <div class="categories">
    <div class="categories_rows">
      <h2>Pick your category</h2>
    </div>
    <div class="categories_rows">
      <div class="categories_item"><h3>Family games</h3></div>
      <div class="categories_item"><h3>One to One</h3></div>
    </div>
    <div class="categories_rows">
      <div class="categories_item"><h3>Escape Game</h3></div>
      <div class="categories_item"><h3>Cardgames</h3></div>
    </div>
  </div>
<%# <div class="presentation-card">
<h3>La première plateforme de location de jeux de société entre particulier. Venez l'essayez vous aussi, vous ne regretterez pas !</h3>
</div> %>
  <!-- Overlay Image -->
  <div class="overlay-image position-absolute" style="top: 60%; left: 86%; transform: translate(-50%, -50%);">
    <img src="https://res.cloudinary.com/dc3qzjv1h/image/upload/v1732202814/review_circle-removebg-preview_shc03e.png" alt="Overlay" style="max-width: 350px; max-height: 350px; display: block; margin: auto;">

    <!-- Text Centered on Image -->
    <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">
      <% if @reviews.present? %>
        <% @reviews.each_with_index do |review, index| %>
          <div class="review-slide <%= 'active' if index == 0 %>" style="animation-delay: <%= index * 5 %>s;">
            <h4 class="mb-3"><%= review.title %></h4>
            <p class="mb-2"><%= truncate(review.content, length: 150) %></p>
            <span class="badge bg-primary"><%= review.rating %>/5</span>
          </div>
        <% end %>
      <% else %>
        <span class="badge bg-primary">5/5</span>
        <p>Excellent moment passés avec ce jeu ! Je recommande !</p>
      <% end %>
    </div>
  </div>
</div>
    <div class="gamesbox">
      <div class="gamesbox__track">
        <div class="gamesbox__grid" data-controller="pages">
          <% @games.each do |game| %>
            <%= link_to game_path(game), class: "text-decoration-none", :action => 'go' do %>
              <div style="height: 20vh; width: 20vh; color: white;" class="gamesbox__item">
                <% game.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill, class: "img-fluid" %>
                <% end %>
              </div>
              <p style="color: white; font-weight: bold;"><%= game.name %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
