<%= simple_form_for [@game, @review], html: { class: 'form' } do |f| %>
  <div class="mb-3">
    <%= f.input :title, label: 'Review Title', input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.input :content, as: :text, label: 'Content', input_html: { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.input :rating, as: :hidden, input_html: { id: 'rating_input' } %>
    <label for="review_rating" class="form-label">Rating</label>
    <div id="star" class="d-flex">
      <div class="stars">
        <i class="fa fa-star gold"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
  <div>
    <%= f.button :submit, 'Submit Review', class: 'btn btn-primary' %>
  </div>
<% end %>
