<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <nav class="navbar border-bottom border-body border-outline" style="height:10vh;">
  <div class="container-fluid">
    <img src="https://www.creativefabrica.com/wp-content/uploads/2022/11/16/Bridge-card-game-logo-design-Graphics-46923745-1-580x377.jpg" alt="logo" style="height: 7vh;">
      <a class="nav-link active" aria-current="page" href="#">New</a>
      <a class="nav-link" href="#">Find</a>
      <a class="nav-link" href="#">Nearby</a>
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">log in</button>
    </div>
  </div>
</nav>
  </div>
    <%= yield %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
</html>
